<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Detalle de ingreso egreso</h4>

        <table class="table">
          <thead>
            <tr>
              <th>Descripción</th>
              <th>Monto</th>
              <th>Tipo</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let i of items | ordenEI">
              <td>{{ i.descripcion }}</td>
              <td>{{ i.monto | currency }}</td>
              <td [ngClass]="{
              'text-success': i.tipo === 'Ingreso', 
               'text-danger': i.tipo === 'Egreso'
              }">{{ i.tipo }}</td>
              <td>
                <button (click)="deleteItem(i)" class="btn btn-outline-danger">
                  <i class="fa fa-trash"></i>
                  Eliminar
                </button>
              </td>
            </tr>
          </tbody>

        </table>

      </div>
    </div>
  </div>
</div>
